.buildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.buildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.buildControl button:disabled {
    background-color: grey;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.buildControl button:hover:disabled {
    background-color: grey;
    color: #ccc;
    cursor: not-allowed;
}

.label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.buildControl .less {
    background-color: rgb(127, 206, 206);
    color: white;
}

.buildControl .more {
    background-color: rgb(28, 184, 223);
    color: white;
}

.buildControl .less:hover, .buildControl .less:active {
    background-color: rgb(233, 84, 225);
    color: white;
}

.buildControl .more:hover,.buildControl .more:active {
    background-color: rgb(233, 84, 225);
    color: white;
}